.hidden{
 display: none !important
}

.modalContainer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);

    .modal{        
        display: flex;
        flex-direction: column;
        background-color: white;
        max-width: 400px;
        max-height: 300px;
        width: 100%;
        height: auto;
        border: 1px solid black;
        padding: .5rem;
    
        .modal__closeBttn{
            display: flex;
            justify-content: end;
    
            a{
             background-color: white;
             border: none;
             &:hover{
                cursor: pointer;
             }  
            }
        }
    
        .modal__form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .form__label{
                display: flex;
                flex-direction: column;
    
                textarea{
                    resize: none;
                }
            }
        }
    
        .form__BoardSelector{
            display: flex;
            justify-content: space-evenly;
            width: 80%;
            .BoardSelector__bttn{
                width: 30%;
                border:  1px solid black;
                text-align: center;
            }
        }
    
        .form__OkCancelBttn{
            display: flex;
            justify-content: space-evenly;
            width: 70%;
            padding: 1rem;
    
            .bttn{
                width: 40%;
                text-align: center;
                border: 1px solid black;
            }
    
        }
    }
}


